<div class="bg"></div>
<div class="jumbotron">
  <h1 class="test">Hello.</h1>
  <p>My name is Kris Chery. I have creative ideas and use the web to build them.</p>
  <p><a class="btn btn-primary btn-lg" href="/portfolio" role="button">View My Work</a></p>
</div>
